{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h2>Director Dashboard</h2>
  <ul class="list-group">
    <li class="list-group-item"><a href="{% url 'edit_home' %}">Edit Home Page</a></li>
    <li class="list-group-item"><a href="{% url 'edit_about' %}">Edit About Page</a></li>
    <li class="list-group-item"><a href="{% url 'manage_gallery' %}">Manage Gallery</a></li>
    <li class="list-group-item"><a href="{% url 'manage_events' %}">Manage Events</a></li>
  </ul>
</div>
{% endblock %}
